[Unit]
Description=Mere Directory Mirroring
StartLimitIntervalSec=0

[Service]
Environment=RUST_LOG=warn
ExecStart=/usr/local/bin/mere -d {destination} -s {sources} -w
Restart=always
RestartSec=10
User=tms

[Install]
WantedBy=multi-user.target
